body {
  background-color: #fff;
  font-family: 'Lora', 'Lato', serif;
}

nav ul li {
    display: block;
    border-top: 5px #aaa solid;
    font-size: 1.25em;
}

nav a {
    color: #add8e6;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 1.75em;
}

h4 {
    order: 2;
    font-size: 1.75em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 600px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    h4 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
