body {
	font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
	background: #fff;
}

h1 {
	/*margin: 16px auto;
	width: 95%;*/
	padding-left: 5%;
	border-bottom: 1px solid #ccc;
}
.grid {
  background: #fff;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
	margin: 45px auto;
}

@media (min-width: 600px) {
 .cards {
   max-width: 500px;
   grid-template-areas:
   "a a"
   "b c"
   "d e"
 }
}

@media (min-width:800px) {
 .cards {
   max-width: 650px;
 }
}
